body {
    text-align: center;
    margin: 0;
    font-family: "Visitor";
	font-size: 4em;
}

#container {
	display: table; 
	height: 100px;
	width: 100%; 
	overflow: hidden;
}

#score-board {
	display: table-cell; 
	vertical-align: middle;
	background-color: #E1077F;
	color: #ADFF17;
}

#high-score {
	display: none;
	width: 200px;
	border: 2px solid #E1077F;
	position: absolute;
	font-size: 0.75em;
	background-color: #E1077F;
	color: #ADFF17;

}

@font-face {
      font-family: "Visitor";
      src: url("../fonts/visitor1.ttf");
    }